@{
    ViewBag.Title = "Telemetry";
    ViewBag.ScriptsBundle = "~/bundles/js/telemetry";
    @Styles.Render("~/Content/css/telemetry")
}

@section datascript{
    <script>
        // Urls supported by this page
        var Url = {
            'GetActivityNames': "@Url.Action("GetActivityNames", "Telemetry")",
            'GetActivityTypesForName': "@Url.Action("GetActivityTypesForName", "Telemetry")",
            'GetActivitySubTypesForNameAndType': "@Url.Action("GetActivitySubTypesForNameAndType", "Telemetry")",
            'GetQuantileDurations': "@Url.Action("GetQuantileDurations", "Telemetry")"
        }
    </script>
}

@section templates
{
    @{ Html.RenderPartial("_Tmpl_PlotCanvas");}
}

<div id="TelemetryWrapper" class="container row">
    <div id="QueryWrapper">
        <h2 class="headline">Acitivity durations quantiles:</h2>
        <section class="col-xs-12 col-lg-6">
            <form id="QueryForm">
                <div class="col-xs-12 form-group has-clear">
                    <label for="InputActivityName" class="control-label">ActivityName</label>
                    <input class="form-control" type="text" id="InputActivityName" list="ActivityNameList" value="@ViewBag.FirstActivity.Name" />
                    <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
                    <datalist id="ActivityNameList">
                        @foreach (var activityName in ViewBag.ActivityNames)
                        {
                            <option value="@activityName" />
                        }
                    </datalist>
                </div>
                <div class="form-group col-xs-6 has-clear">
                    <label for="InputActivityType" class="control-label">ActivityType</label>
                    <input class="form-control" type="text" id="InputActivityType" list="ActivityTypeList" value="@ViewBag.FirstActivity.Type" />
                    <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
                    <datalist id="ActivityTypeList"></datalist>
                </div>
                <div class="form-group col-xs-6 has-clear">
                    <label for="InputActivitySubType" class="control-label">ActivitySubType</label>
                    <input class="form-control" type="text" id="InputActivitySubType" list="ActivitySubTypeList" value="@ViewBag.FirstActivity.SubType" />
                    <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
                    <datalist id="ActivitySubTypeList"></datalist>
                </div>
                <div class="form-group col-xs-6 has-clear">
                    <button type="submit" id="LoadBtn" class="btn btn-primary btn-lg btn-submit">Load</button>
                </div>
            </form>
        </section>
        <section class="col-xs-12 col-lg-6">
            <div class="col-xs-12">
                <form id="QueryFormLookBack">
                    <div class="form-group col-xs-5">
                        <label class="control-label" for="InputSpotTime">SpotTime</label>
                        <input class="form-control" type="text" id="InputSpotTime" disabled="" value="@DateTime.UtcNow" />
                    </div>
                    <div class="form-group col-xs-3">
                        <label class="control-label" for="InputLookingBack">LookingBack</label>
                        <input class="form-control" type="text" id="InputLookingBack" />
                    </div>
                    <div class="form-group col-xs-4 lookBackBtn">
                        <button type="button" id="LookBackBtn" class="btn btn-submit">LookBack</button>
                    </div>
                </form>
            </div>
            @*<div class="col-xs-12">
                    <div id="LoadingScreen">
                        <div id="RequestSpinner"></div>
                        <h2>Loading...</h2>
                    </div>
                </div>*@
        </section>
    </div>
    <hr id="divider" class="hidden"/>
    <div id="ResultsContainer" class="hidden">
        <h4 id="DurationHeading">Durations [ms]</h4>
        <div id="QuantileDurationPlaceholdler"></div>
    </div>
</div>
@Scripts.Render(ViewBag.ScriptsBundle)
